@use "global" as *;

.c-button__inner {
    display: inline-block;
    min-width: rem(190);
    padding: rem(15) rem(60);
    text-align: center;
    text-transform: capitalize;
    color: $white;
    background-color: $orange;
    border: 1px solid $orange;
    border-radius: rem(6);
    transition: 0.3s;
}
.c-button__inner:hover {
    transition: 0.3s;
    background-color: $white;
    color: $orange;
    opacity: 1;
}
.c-button__inner--reversal {
    color: $orange;
    background-color: $white;
}

.c-button__inner--reversal:hover {
    background-color: $orange;
    color: $white;
    transition: 0.3s;
}
