@use "global" as *;

.p-mv {
    padding: rem(400) 0;
    background: url(../images/dummy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
}

.p-mv__content {
    text-align: center;
}

.p-mv__lead {
    font-size: rem(24);
    line-height: rem(36);
    letter-spacing: -0.0015em;
    margin-bottom: rem(30);
    @include mq("md") {
        font-size: rem(56);
        line-height: rem(80);
    }
}
